*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face{
    font-family: festive;
    src:url(/fuentes/Festive/Festive-Regular.ttf);
}
header{
    width: 100%;
    background-color: rgba(82, 98, 240, 0.9);
    height: 70px;
    position: fixed;
}
#logo_principal{
    width: 8%;
    height: 60px;
    margin-left: 10px;
    float: left;
    padding-top: 5px;
    box-sizing: border-box;
    margin-right: 0px ;
}
.ancho{
    width: 80%;
    height: 70px;
    margin:auto;  
}
.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px; /* con eso decimos que tenga un relleno en todos los bordes del 10%, alejandolo asi del margen*/
    box-sizing: border-box; /*le decimos que los bordes del logo no superen la margen del header. */
}
.logo p a{
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold; /* con estos hacemos que las palabras queden en negrita */
    font-family: festive;
}
.logo p a:hover{
    color: violet;
}
nav{    
    width: 70%; 
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline-block; /* con esto le decimos que quite el estilo en linea de la lista, y se vaya hacia la izquierda*/
}
nav ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none; /* le quitamos el subrayado a las palabras que conforman el menu */
    text-transform: uppercase; /* para que las letras queden en mayuscula*/
    padding-left: 40px; /* generamos un espacio hacia la izquierda de las palabras para que se separen de la margen*/
    font-weight: bold; /* con estos hacemos que las palabras queden en negrita */
    letter-spacing: 1px; /* con esto le damos espacio entre las letras de las palabras */ 
}
nav ul li a:hover{
    color: violet;
}
#particles-js{  
    background: url(/images/principal2.png);
    background-position:center ;
    background-attachment: contain; /* obligamos a que la imagen se mantenga dentro del margen de la pantalla*/
    background-size:cover; /* para que este al mismo tamaño de la ventana*/
}
.ancho-letras{
    padding: 100px;
    width: 100%;
    position:absolute;
    text-align: center;
    box-sizing: border-box;
}
.letras-imagen{
    width: 80%;
    margin: auto;
}
.letras-imagen h1{
    color: lavender;
    font-family: cursive;
    font-size: 70px;
}
.letras-imagen h2{
    color: cornsilk;
}
#parrafo{
    text-align:justify;
    font-size: 20px;
    font-family: roboto;
    margin: 2%;
    color: ivory;
}

h3{
    text-align: left;
    box-shadow: blue 2px 4px 8px;
    color: white;
    font-size: 30px;
    font-style: oblique;
}
.container-GAL{
    background: url(/images/principal2.png);
    width: auto;
    align-content: center;
    margin: 0 auto;
}
div.galeria{
    margin: 0 auto;
    box-shadow: 2px 4px 8px blue;
    width: 300px;
    display: inline-block;
    margin-left: 20px;
}
.galeria img{
    width: 300px;
    height: 300px;
    margin: 10px auto;
}
.pie-foto{
    color: chartreuse;
}